{:project/name "Afterglow",
 :project/tagline
 "Live-coding algorithmic light shows for DMX and other protocols",
 :project/repo-url "https://github.com/brunchboy/afterglow",
 :project/home-page-url "https://github.com/brunchboy/afterglow",
 :project/description
 "An environment supporting live coding for the creation of algorithmic light shows in Clojure, leveraging the Open Lighting Architecture with the help of ola-clojure, wayang, beat-link, and pieces of the Overtone toolkit. Beyond building on pieces of Overtone, the entire Afterglow project was inspired by it.",
 :record/tags "music, art"}
