{:project/name "BowlerStudio"
 :project/tagline "Robotics Development IDE for design, CAD and real-time hardware control of Robots."
 :project/repo-url "https://github.com/NeuronRobotics/BowlerStudio"
 :project/home-page-url "http://neuronrobotics.com/BowlerStudio/Welcome-To-BowlerStudio/"
 :project/description "BowlerStudio is a standard distribution of a set of useful libraries used for robotics development, combined with a Git based runtime. Users go through web-based tutorials collecting forks of example scripts, which they can modify for their own uses. The runtime also standardizes calling scripts in other languages, and makes Clojure scripts availible in the same way. 

BowlerStudio features a CAAD engine for designing parts for 3d printing using Clojure directly. There is also a physics engine for testing new robots in a simulator build on JBullet Physics. When a design is tested working, then the same controls used to run the simulator can talk directly to real-time hardware and run your same controller in the real world. "
 :record/tags "robotics"}
