{:project/name "catacumba",
 :project/tagline
 "A web toolkit for Clojure built on top of Ratpack and Netty.",
 :project/repo-url "https://github.com/funcool/catacumba",
 :project/home-page-url "https://funcool.github.io/catacumba/latest/",
 :project/beginner-issues-label "easy",
 :project/description
 "Catacumba is an asynchronous or non-blocking web toolkit for Clojure built on top of ratpack and netty drawing inspiration from ring, pedestal and ratpack.",
 :project/beginner-friendly true,
 :record/tags "web, framework, backend"}
