{:project/name "ccm-clj",
 :project/tagline "Easy test Cassandra clusters",
 :project/repo-url "https://github.com/SMX-LTD/ccm-clj",
 :project/home-page-url "https://github.com/SMX-LTD/ccm-clj",
 :project/description
 "A Clojure (1.6+) interface to Cassandra Cluster Manager (https://github.com/pcmanus/ccm) suitable for use in integration tests and creating arbitrary Cassandra Clusters. CCM-clj is courtesy of SMX (http://smxemail.com) where we have been using it for a couple of years to simplify development with Cassandra and Clojure. As a JVM library, it is however easily used with other languages [http://clojure.github.io/clojure/javadoc/].\n",
 :record/tags "db, testing"}
