{:project/name "clj-rethinkdb",
 :project/tagline "An idiomatic RethinkDB client for Clojure",
 :project/repo-url "https://github.com/apa512/clj-rethinkdb/",
 :project/home-page-url "https://github.com/apa512/clj-rethinkdb/",
 :project/beginner-issues-label "easy",
 :project/description
 "clj-rethinkdb is a Clojure database driver for RethinkDB. We welcome new Clojure developers, and there are a number of beginner issues available for people to pick.",
 :project/beginner-friendly true,
 :record/tags "db"}
