{:project/name "Clojure News Web Application",
 :project/tagline
 "Clojure News Web Application - (Hacker News Clone) Entirely written in Clojure & ClojureScript",
 :project/repo-url "https://github.com/ertugrulcetin/ClojureNews",
 :project/home-page-url "https://github.com/ertugrulcetin/ClojureNews",
 :project/description
 "Clojure News Web Application - (Hacker News Clone) Entirely written in Clojure & ClojureScript",
 :record/tags "web, backend"}
