{:project/name "Cryogen",
 :project/tagline "A static site generator written in Clojure",
 :project/repo-url "https://github.com/cryogen-project/",
 :project/home-page-url "http://cryogenweb.org",
 :project/beginner-issues-label "",
 :project/description
 "Cryogen is a static site generator with an extensive list of features that is always looking to grow.  Find us on [Clojurians Slack](http://clojurians.net) in the #cryogen channel.",
 :project/beginner-friendly true,
 :record/tags "web, cms"}
