{:project/name "Dashboard-clj",
 :project/tagline "Mini-framework for building real-time dashboards",
 :project/repo-url "https://github.com/multunus/dashboard-clj",
 :project/home-page-url "https://github.com/multunus/dashboard-clj",
 :project/description
 "Abstract away the plumbing work that goes into building real-time dashboards.",
 :project/beginner-friendly false,
 :record/tags "framework, backend, frontend, cljs"}
