{:project/name "DataScript",
 :project/tagline "Immutable database and Datalog query engine",
 :project/repo-url "https://github.com/tonsky/datascript",
 :project/home-page-url "https://github.com/tonsky/datascript",
 :project/description
 "An immutable in-memory database and Datalog query engine for Clojure, ClojureScript and JS",
 :record/tags "db, cljs"}
