{:project/name "io.aviso/config",
 :project/tagline "Smart and flexible system configuration",
 :project/repo-url "https://github.com/AvisoNovate/config",
 :project/home-page-url "https://github.com/AvisoNovate/config",
 :project/description
 "Config is a very small library used to handle configuration of a server; it works quite well with a system defined in terms of Stuart Sierra’s component library.\n\nComponents are configured using YAML or EDN, and each component provides a (Prismatic) Schema to define its options; used for both validation and coercion.\n\nSpecial care has been taken to ensure that configuration is flexible enough to support local testing, all the way through to production deployment.",
 :project/beginner-friendly false,
 :record/tags "backend"}
