{:project/name "markdown-clj"
 :project/tagline "Clojure/Script markdown parser"
 :project/repo-url "https://github.com/yogthos/markdown-clj"
 :project/home-page-url "https://github.com/yogthos/markdown-clj"
 :project/description "markdown-clj is a flexible markdown parser for Clojure/Script"}
