{:project/name "Metamorphic",
 :project/tagline
 "complex event processing library for Clojure and ClojureScript",
 :project/repo-url "https://github.com/pyroclastio/metamorphic",
 :project/home-page-url "https://github.com/pyroclastio/metamorphic",
 :project/beginner-issues-label "",
 :project/description
 "Metamorphic is a complex event processing library for Clojure and ClojureScript. Complex event processing is a technique for finding sequences of events that match a particular pattern in a stream.",
 :record/tags "big data, distributed"}
