{:project/name "Migratus"
 :project/tagline "migrate all the things!"
 :project/repo-url "https://github.com/yogthos/migratus"
 :project/home-page-url "https://github.com/yogthos/migratus"
 :project/description "Migratus is a simple library for handling database migrations using plain SQL."
 :record/tags "db"}
