{:project/name "mock-clj",
 :project/tagline
 "A minimalist & non-invasive API for mocking in Clojure",
 :project/repo-url "https://github.com/zhming0/mock-clj",
 :project/home-page-url "https://github.com/zhming0/mock-clj",
 :project/description
 "Minimalist & non-invasive API for mocking in Clojure. Basically, it is a syntax sugar around with-redefs.",
 :record/tags "testing"}
