{:project/name "Nealpro",
 :project/tagline "An online version of the card game Netrunner",
 :project/repo-url "https://github.com/mtgred/netrunner",
 :project/home-page-url "http://jinteki.net",
 :record/tags "games, web"}
