{:project/name "OBB Rules",
 :project/tagline "Chess-like battle system with a powerful twist!",
 :project/repo-url
 "https://github.com/orionsbelt-battlegrounds/obb-rules",
 :project/home-page-url
 "http://orionsbelt-battlegrounds.github.io/obb-rules/resources/public/index.html",
 :project/description
 "This is a chess-like board game, played on an 8x8 board. The player has up to 8 units to play and he starts by deploying them on the first 2 rows. This is unlike chess where you have all the pieces deployed in a standard way. After both players deploy their units, one is randomly choosen to draw first blood.\n\nAlso unlike chess, each player has 6 action points to spend on his turn. Each unit has a movement cost and an attack cost. There are many units and each one has it's own gameplay tactics.",
 :project/beginner-friendly true,
 :record/tags "games, art"}
