{:project/name "postagga",
 :project/tagline
 "A Library to parse natural language in pure Clojure and ClojureScript ",
 :project/repo-url "https://github.com/turbopape/postagga",
 :project/home-page-url "https://github.com/turbopape/postagga",
 :project/beginner-issues-label "lowhangingfruit",
 :project/description
 "postagga is a suite of tools to assist you in generating efficient and self-contained natural language processors. You can use postagga to process annotated text samples into full fledged parsers capable of understanding \"free speech\" input as structured data. Ah and you'll be able to do this easily. You're welcome.",
 :project/beginner-friendly true,
 :record/tags "natural language processing"}
