{:project/name "relational_mapper",
 :project/tagline
 "Mapping relational database query results into convenient structures",
 :project/repo-url "https://github.com/netizer/relational_mapper/",
 :project/home-page-url
 "https://github.com/netizer/relational_mapper/",
 :project/description
 "Relational Mapper is a library for working with relational databases. It lets you define associacions between tables and make a database request that will return an array of interrelated data in a easy to hash/array structure.",
 :record/tags "db, web, backend"}
