{:project/name "Samsara",
 :project/tagline "A Realtime Analytics Platform",
 :project/repo-url "https://github.com/samsara/samsara",
 :project/home-page-url "http://samsara-analytics.io/",
 :project/beginner-issues-label "easy",
 :project/description
 "Samsara is a realtime analytics platform written in Clojure. It is built on top of Kafka and ElasticSearch and we aim to provide an easy solution to collect, enrich, correlate, analyze and visualize data coming from devices, applications, services or social-media feeds.\nIt has already processed over ~30 billions events with real-world production deployments, and we aim to extends its capabilities and make it more user-friendly. We are a small focused team, very beginner friendly. There are a number of different tasks which go from Clojure development, to devops (Docker et al), from data-science and machine-learning to data-visualization. Due to the size of the project we would prefer people which are interested in the realtime analytics and want to collaborate for longer period of time. For more info please contact us at: samsara.systems+info@gmail.com",
 :project/beginner-friendly true,
 :record/tags
 "data, realtime, analytics, streaming, kafka, elastic-search, machine-learning, predictive-analytics, data-science, BigData"}
